.paginacao-relatorio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.paginacao-info {
  display: flex;
  align-items: center;
}

.paginacao-texto {
  font-size: 18px;
  font-weight: 500;
  color: #222;
}