.passo1_2-btn {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0;
	padding: 0;
	gap: 12px;
	margin-left: 7vw;
	margin-top: 7vh;
}

.passo1_2-icone {
	width: 32px;
	height: 32px;
	color: #222;
	flex-shrink: 0;
	margin-left: 3vw;
}


.passo1_2-texto {
	font-size: 32px;
	font-weight: 500;
	color: #111;
	text-decoration: underline;
	text-underline-offset: 6px;
	text-decoration-thickness: 2px;
	display: inline-block;
}



.passo1_2-btn:active .voltar-texto {
	color: #444;
}
