
.radio-group {
	display: flex;
	align-items: center;
	gap: 28px;
}

.radio-label {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-family: 'Noto Sans', sans-serif !important;
	font-size: 22px !important;
	font-weight: 300 !important;
	color: #264040 !important;
	gap: 5px;
}

.radio-input {
	display: none;
}

.custom-radio {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 3px solid #264040 !important;
	background: #f2f2f2 !important;
	display: inline-block;
	position: relative;
	margin-right: 0;
	transition: all 0.2s ease;
}

.radio-input:checked + .custom-radio {
	background: #D9C27E !important;
}

.radio-input:checked + .custom-radio::after {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #D9C27E !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.radio-text {
	margin-left: 0;
}
