.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.link-default {
  color: #000000;
}

.link-primary {
  color: #0891b2;
}