@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Noto Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F2F2F2;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}
